@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root
{
  --userfindtransition: 164ms;
  --composeBoxHeight:5rem;
  --titlebarHeight: 1.36rem;
}
.lightTheme
{
  --userfindColor: #EEEEE4;
  --userfindActive: #FEFBEA;
  --userfindHover: #FAEBD7;
  --titlebarbtnHover: #d3d3d3;
  --titlebarbtnActive:#808080;
}
.darktheme
{
  --userfindColor: #EEEEE4;
  --userfindActive: #FEFBEA;
  --userfindHover: #FAEBD7;
}


html
{
  height: 100%;
  overflow: show;
}

body 
{
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.titlebar
{
  height: var(--titlebarHeight);
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.apptitle
{
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.appicon
{
  margin-left: 0.5rem;
  margin-right:0.4rem;
  width: fit-content;
}

.title
{
  font-family: 'Lobster', cursive;
}

.windowcontrolls
{
  display: flex;
  -webkit-app-region: no-drag;
}

.titlebarbtn
{
  width: var(--titlebarHeight);
  height: var(--titlebarHeight);
  border: 0;
  margin-left: 0.2rem;
  padding: 0.3rem;
  text-align: center;
  background-color: transparent;
  -webkit-app-region: no-drag;
}

.titlebarbtn:hover
{
  background-color: var(--titlebarbtnHover);
}

.titlebarbtn:active
{
  background-color: var(--titlebarbtnActive);
}

.btn-close:hover
{
  background-color:#dc143c;
}

.btn-close:active
{
  background-color:#b22222;
}

.btn-minimize
{
  display: inline;
  text-align: center;
}

.svgcenter
{
  text-align: center;
}

.container
{
  width: 100%;
  height: 97%;
  display: flex;
  flex-direction: row;
}

.sidebar
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f7f3;
  width: 5rem;
  padding-top: 1.4rem;
  z-index: 2;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.sidebaritems
{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  transition: var(--userfindtransition) ease-in;
  cursor: pointer;
}

.userfind
{
  background-color: var(--userfindColor);
}

.userfind:hover
{
  background-color: var(--userfindHover);
  border-radius: 40%;
}

.userfind:active
{
  background-color:var(--userfindActive);
  border-radius: 40%;
}

.navbarbtn:hover
{
  background-color:#EEEEE4;
}

.navbarbtn:active
{
  transition: 0ms;
  background-color: #ebe9e5;
}

.hidden
{
  visibility:hidden ;
}

.chatwindow
{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.conversationHeader
{
  height: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f9f7f3; 
}

.profilehandle
{
  width: 70%;
  height: 5rem;
  background-color: green;
}
.conversationControls
{
  width: 30%;
  height: 5rem;
  background-color: red;
}
.conversationBody
{
  height: 100%;
  background-color: #ebe9e5 ;
  box-shadow: rgb(179, 179, 179) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.composeBox
{
  height: var(--composeBoxHeight);
  background-color: #f9f7f3;
}